*{
   box-sizing: border-box;
}

.banner{
 &__boxed{
   margin-top: -10rem;
   display: block;
   margin-left: 10rem;
   
    .inner-column{
    position: relative;
    display: inline-block;
    padding: 72px 72px 72px 72px;
    border-top: 8px solid $secondary;
    border-left: 8px solid $secondary; 
    margin-top: 19rem;
    margin-left: 2rem;
    z-index: 111;
    
     
 } 
 .inner-column:before {
   position: absolute;
   content: '';
   left: 0px;
   bottom: 0px;
   height: 8px;
   width: 29.3rem;
   background-color:$secondary;
 }
 h1{
    position: relative;
    font-size: 5rem;
    line-height: 1em;
    max-width: 450px;
    margin-bottom: 20px;

 }
 span{
     color: $primary;
 }



   img{
      position: relative;
      transform: translate(1rem,-28rem) scale(1);
      width: 37%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
  

ul{
   list-style: none;
   position: absolute;
    right:24rem;
    top: 16rem;
    padding: 0px;
    margin: 0px;
    font-size: 3rem;
}
i{
   color: $secondary;
}
i:hover{
   color: $primary;
}
}
}


.profile{
   padding-bottom: 40px;

   &__btn{
    display: grid;
    grid-template-columns: 46% 47%;
    margin-left: 3rem;
   }
  
   &__btn{
      display: grid;
      grid-template-columns: 45% 46%;
      grid-template-rows: max-content;
      margin-left: 11rem;
      margin-top: -14rem;
      
   }
  &__aboutBtn, &__skillsBtn{
   padding: 24px;
   text-transform: uppercase;
   font-size: 24px;
   color: $secondary;
   border: 1px solid $second;
   background-color: $primary;
   cursor: pointer;
   transition: .5s;
  }
  &__aboutBtn:hover, &__skillsBtn:hover{
     background-color: $secondary;
     color: $primary;
  }
      .activeBtn{
         border: 1px solid $second;
         background-color: $second;
         color: $primary;
     }
   

   &__container{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: max-content;
      background-color:$second;
      padding: 80px 24px;
      width: 81.8%;
      margin-left: 11rem;
  
      &--left{
          margin: auto;
          img{
              display: block;
              margin:auto;
          }
      }
      &--right{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3rem;
         h2{
            position: relative;
            max-width: 295px;
            font-size: 2.2rem;
            text-align: center;
            margin-left: 11rem;
            margin-top: 9rem;
            line-height: 1.3em;
        }
         }
         h2:before {
            position: absolute;
            content: '';
            left: -96px;
            top: -10px;
            width: 220px;
            height: 1px;
            background-color: $primary;
            transform: rotate(-40deg);
        }
         span{
            color:$secondary;
         }

         p{
            position: relative;
            font-size: 1rem;
            line-height: 2em;
            padding-right: 211px;
            margin-top: 3rem;
            margin-left: 6rem;
            text-align: justify;
            padding-bottom: 1rem;
         }

         .upload{
            position: relative;
            padding: 33px;
            padding-left: 121px;
            margin-left: 6rem;
            width: 354px;
            background-color:$primary;
            border-left: 9px solid $white;
            display: block;
            text-decoration: none;
            font-size: 1.4rem;
            color: $white;
            transition: .5s; 
           
         }
         .upload:hover{
            background-color: $secondary;
         }
      }
  }



.services{
   &__container{
      margin-top: 15rem;
      h2{
         text-align: right;
         font-size: 2rem;
         padding-right: 100px; 
      }
      .title:before{
         right: -20px;
         top: -40px;
         left: auto;
         transform: rotate(40deg);
      }
    
      
      span{
         color: $primary;
      }
   }
   &__block{
           display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: max-content;
            padding: 80px 24px;

            &--card{
               display: block;
               margin-left: auto;
               margin-right: auto;
           
               img{
                  display: block;
                  max-width: 100%;
                  height: auto;
                  margin-left: auto;
                  margin-right: auto;
              
             }
             
            
               h5{
                  position: relative;
                  font-size: 1.5rem;
                  line-height: 1.3em;
                  margin-top: 40px;
                  margin-bottom: 18px;
                  text-align: center;
               }
               p{
                  position: relative;
                  font-size: 16px;
                  line-height: 1.9em;
                  padding-right: 80px;
                  text-align: center;
              }
               }
               .icon-box{
                 
                  span:before{
                     position: absolute;
                     margin-top: 1.4rem;
                     margin-left: 17rem;

                     content: '';
                     width: 52px;
                     height: 52px;
                     z-index: -1;
                     border-radius: 50px;
                     display: inline-block;
                     background-color:$second;
                     transition: all 600ms ease;
                    -moz-transition: all 600ms ease;
                    -webkit-transition: all 600ms ease;
                    -ms-transition: all 600ms ease;
                   -o-transition: all 600ms ease;
                   
                  
               }
            }
            .inner-box:hover .icon-box .icon:before  {
               transform: rotateY(180deg);
               background-color: $primary;
           } 

         }
         h2:before{
            right: -20px;
            top: 10px;
            left: auto;
            transform: rotate(40deg);
        }
}

.projects{
   padding: 0 16rem;
   margin-top: 9rem;
   display: block;
   margin-left: auto;
   margin-right: auto;
  
   &__title{
      position: relative;
      margin-top:6rem;
      font-size: 2rem;
      
      span{
         color: $primary;
      }
   }
   &__title:before {
      position: absolute;
      content: "";
      left: -140px;
      top: -30px;
      width: 220px;
      height: 1px;
      background-color: $primary;
      transform: rotate(-40deg);
    }
   &__wrapper{
      margin-top: 56px;
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: 33.333% 33.333% 33.333%;
      grid-gap: 2rem;
   }
   &__card{
       &--top{
           .cover{
            border-radius: 8px;
            width: 100%;
            height: 21rem;
           }
       }
       &--lower{
           background-color: $secondary;
           border-radius: 8px;
           padding: 3rem 1rem;
           h1{
               color:$white;
               font-size: 2rem;
              
             }
             h2{
                color: $primary;
               font-weight: 400;
               margin-bottom: 16px;

             }
             a{
                text-decoration: none;
             }

      }
   }
   &__github{
      text-decoration: none;
       color:$white;
       font-size: 20px;
       display: block;
       margin-bottom: 56px;
       cursor: pointer;
       transition: 0.5s;
   }
   &__link{
     text-decoration: none;
     cursor: pointer;
    color: $primary;
    border: 1px solid $primary;
    text-transform: uppercase;
    padding: 9px 11px;
    transition: .5s;
   }
   &__link:hover{
      color: $second;
      background-color: $primary;
   }

  
   &__all{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      color: $primary;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      width: 10rem;
      text-decoration: none;
      padding: 9px 11px;
      border: solid $primary;
   }
   &__all:hover{
      color: $second;
      background-color: $primary;
   }

}
.call{
   &__container{
      margin-top: 9rem;
      display: block;
      position: relative;
      text-align: center;
      padding: 70px 35px;
      background-color: $second;
      border-left: 6px solid $primary;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      h2{
         position: relative;
         font-size: 1.6rem;
         text-align: center;
         font-weight: 200;
         line-height: 1.3em;
         margin-bottom: 2rem;
      }
     ul{
      width: 84%;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 2.3rem;
      font-weight: 600;
      display: grid;
      grid-template-columns: 50% 50%;
      margin-left: auto;
      margin-right: auto;
  
     }
     a{
        text-decoration: none;
        color: $black;
        transition: .5s;
     }
     a:hover{
        color:$primary;
     }
}
   }

   .testimonial{
      margin-bottom: 8rem;
      margin-top: 9rem;

      &__title{
        h2{
         position: relative;
         line-height: 1.2em;
         font-size: 2rem;
          margin-top: 11rem;
         margin-left: 15rem;

        } 
        span{
           color: $primary;
        }
        h2:before {
         position: absolute;
         content: '';
         left: -127px;
         top: -38px;
         width: 220px;
         height: 1px;
         background-color: $primary;
         transform: rotate(-40deg);
      }  
   }

   &__image{
      display: block;
      width: 7rem;
      margin-left: auto;
      margin-right: auto;

   img{
      margin-top: -4rem;
      border-radius: 100%;
      width: 7rem;
      height: 7rem;
    }
   }
   &__author{
      &--left{
         padding-left: 54rem;
         
     
       }
       &--right{
         margin-left: 9rem;
       }
   }
   &__text{
      text-align: center;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.9em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0rem 29rem;
   }
   &__name{
   color: $secondary;
   font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
   }
   &__designation{
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;

   }
}



@media (max-width: 1024px) and (min-width: 600px){
   .banner{
      padding-top: 40px;
     &__boxed{
     .inner-column{
      top: -8rem;
      right: 7rem;
      margin-bottom: 40px;
     }
     }
     img{
      width: 39rem;
      margin-left: -6rem;
      margin-right: auto;
      padding-top: 19rem;;
  
     }
     ul{
      left: 41rem;
     top: 10rem; 
     }

   }
   .profile{
      
         &__list{
            
             width: 88%;
             margin-left: auto;
             margin-right: auto;
         }
         &__container{
             display: flex;
             flex-direction: column;
             width: 88%;
             margin-left: auto;
             margin-right: auto;
             &--left{
                 margin: auto auto 32px ;
                 img{
                     display: block;
                     margin:auto;
                     width: 96%;
                 }
             }
             &--right{
                 h2{
                  font-size: 2rem;
                  margin-left: 9rem
                 }

                 h2:before {
                  left: -72px;
                  top: 4px;
                  width: 181px;;
              }
               
                 p{
                    
                     font-size: 18px;
                     font-weight: 400;
                     width: 96%;
                     line-height: 1.6em;
                     text-align: justify;
                     margin-bottom: 40px;
                 }
             }
         
     }
   }
   .services{
      &__block{
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: max-content max-content;
         padding: 80px 24px 0px;
         width: 88%;
         margin-left: auto;
         margin-right: auto;

         &--card{
            display: block;
            margin-left: auto;
            margin-right: auto;
        
            img{
               margin: auto auto 24px;
                display: block;
           
          }
          
         
            h5{
               text-align: center;
                margin-bottom: 16px;
            }
            p{
               text-align: justify;
               margin-left: 8rem;
               width: 73%;
               font-size: 1.5rem;
           }
            }
            .icon-box{    
                span:before{
                
                  margin-top: 1.4rem;
                  margin-left: 18rem;  
               
               }
            }
      }
   }
   
   .testimonial{

      &__title{
         position: relative;
         font-size: 2.2rem;
         margin-left: -9rem;
         margin-top: 14rem;
         padding-bottom: 4rem;
       
      }
     
      &__text{
         padding: 21px;
      }
      &__author{
         &--left{
            padding-left: 15rem;
            
        
          }
          
      }
   }

   .call{
      &____container{
      width: 80%;
      }
      ul{
         display: grid;
         grid-template-columns: 100%;
         gap: 2rem;
      }
     
      }
      .projects{
      
         padding-bottom: 64px;
         &__container{
             width: 88%;
             margin-left: auto;
             margin-right: auto;
         }
         &__title{
            position: relative;
            font-size: 2.2rem;
            margin-left: -11rem;
            margin-top: 6rem;
         }
        
         &__wrapper{
             margin-top: 40px;
             display: grid;
             grid-template-columns: 100%;
           
         }
         &__card{
 
             &--top{
                 img{
                     border-radius: 24px;
                     width: 100%;
                     height: 320px;
                 }
             }
             &--lower{
                 padding: 40px 24px;
                 
                 h1{
                     font-size: 40px;
                     margin-bottom: 24px;
                 }
                 h2{
                     
                     font-weight: 400;
                 }
             }
         }
         &__github{
            
             font-size: 20px;
             display: block;
             margin-bottom: 32px;
             cursor: pointer;
             transition: 0.5s;
         }
         &__github:hover{
             color: $primary;
         }
     }
}

